<div class="topic-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="topic-index-single">
          <br>
          <br>
          <br>
          <h1>質問詳細</h1>
          <h4 class="topic-author">
            質問題名：
            <%= @question.title %>
            <br>
            質問内容：
            <%= @question.content %>
            <br>
            <br>
            <p>回答</p>
            <% @question.answers.each do|answer|%>
              <%= answer.ans %>
              <br>
            <% end %>
            <% if logged_in? %>
              <%= link_to 'この質問に回答する',new_category_question_answer_path(category_id: @question.category_id, question_id: @question.id),class: 'btn btn-block btn-black' %>
            <% end %>
          </h2>
        </div>
      </div>
     </div>
  </div>
</div>