<div class="wrapper-stanard text-center">
  <div class="container container-standard">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-md-offset-3">
        <h1 class="text-white margin40">クイズ</h1>
      </div>
      <% if logged_in? %>
        <div class="col-md-offset-3 col-md-6 col-md-offset-3 text-right margin30">
          <%= link_to "クイズを作成する", new_category_q_path(category_id: @category.id)%>
        </div>
      <% end %>
      <div class="col-md-offset-3 col-md-6 col-md-offset-3">
        <% @qs.each do |q| %>
          <%= link_to q.qtitle, category_q_path(category_id: q.category.id, id: q.id),class: 'btn btn-block btn-white' %>
        <% end %>
      </div>
    </div>
  </div>
</div>