<div class="wrapper-stanard text-left text-white">
  <div class="container container-standard">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-md-offset-3 margin40" id="quest">
      </div>
      <ul id="choices" class="col-md-offset-3 col-md-6 col-md-offset-3 margin30">
        <!--<li class="col-md-offset-3 col-md-6 col-md-offset-3 margin20" id="choices1">-->
        <!--</li>-->
        <!--<li class="col-md-offset-3 col-md-6 col-md-offset-3 margin20" id="choices2">-->
        <!--</li>-->
        <!--<li class="col-md-offset-3 col-md-6 col-md-offset-3 margin20" id="choices3">-->
        <!--</li>-->
      </ul>
      <div class="col-md-offset-5 col-md-2 col-md-offset-5 margin20 disabled" id="next">次の問題</div>
      
      
      
      
      
      
      <!--<% @q.qcontents.each do |qcontent| %>-->
      <!--    <div class="col-md-offset-3 col-md-6 col-md-offset-3" id="question">-->
      <!--      <%= qcontent.qsentence %>-->
      <!--    </div>-->
      <!--    <div class="col-md-offset-3 col-md-6 col-md-offset-3" id="choices">-->
      <!--      <%= qcontent.choice1 %>-->
      <!--    </div>-->
      <!--    <div class="col-md-offset-3 col-md-6 col-md-offset-3" id="choices">-->
      <!--      <%= qcontent.choice2 %>-->
      <!--    </div>-->
      <!--    <div class="col-md-offset-3 col-md-6 col-md-offset-3" id="choices">-->
      <!--      <%= qcontent.choice3 %>-->
      <!--    </div>-->
      <!--    <div class="col-md-offset-5 col-md-2 col-md-offset-5 margin20" id="btn">次の問題</div>-->
      <!--<% end %>-->
    </div>
  </div>
</div>