<div class="wrapper-stanard">
  <div class="container container-standard">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <h1 class="text-center text-white">ツイート</h1>
      </div>
       <div class="col-md-12 text-white tweetSearch">
        <% @tweets.each do|tweet| %>
          <%= tweet.text %>
           @
          <%= tweet.user.name%>
          &nbsp;
          <% if logged_in? && tweet.user_id == current_user.id %>
            <%= link_to '削除', tweet_path(tweet),method: :delete %>
          <% end %>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>