<div class="top-category-add-wrapper text-center">
  <div class="container top-category-add-container">
    <h1 class="text-white">学習カテゴリー　追加</h1>
    <div class="row">
      <div class="col-md-offset-5 col-md-2 col-md-offset-5 text-center">
            <%= link_to '追加画面',new_category_path,class: 'btn btn-block btn-white' %>
      </div>
    </div>
  </div>
</div>