<div class="topic-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="topic-index-single">
          <br>
          <br>
          <br>
          <h1>学習カテゴリー　追加</h1>
          <h2 class="topic-author">
            <%= link_to '追加画面',new_category_path,class: 'btn btn-block btn-black' %>
          </h2>
        </div>
      </div>
     </div>
  </div>
</div>