<div class="topic-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="topic-index-single">
          <br>
          <br>
          <br>
          <h1>回答一覧</h1>
          <div class="topic-author">
            <% @answers.each do |answer| %>
            <h3>質問</h3>
              <h4>
                質問題名：
                <%= answer.question.title %>
              </h4>
              <h4>
                質問内容：
                <%= answer.question.content%>
              </h4>
              <h4>
                回　　答：
                <%= answer.ans %>
              </h4>
                <%= link_to '削除',question_answer_path(question_id: answer.question_id,id: answer.id),method: :delete %>
              <br>
              <br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>