<div class="topic-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="topic-index-single">
          <br>
          <br>
          <br>
          <h1>回答一覧</h1>
          <div class="topic-author">
            質問
            <% @answers.each do |answer| %>
              <h2>
                <%= answer.question.title %>
              </h2>
              <h4>
                <%= answer.question.content%>
              </h4>
            回答
                <%= answer.ans %>
              <br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>