<div class="topic-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="topic-index-single">
          <h2 class="topic-author">
              <%= @plan.date %>
          </h2>
          <h3>
            todo
          </h3>
            <p class="topic-text">
              <% @todos.each do |todo| %>
                <%= todo.list %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
  </div>
</div>