<div class="wrapper-stanard">
  <div class="container container-standard">
    <div class="row">
      <div class="col-md-12 margin20">
        <h1 class="text-center text-white text-center">下のボタンを押すと、勉強時間の計測を始めるよ❗️</h1>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <%= form_for @study_time do |f| %>
          <%= f.submit "学習を開始する", class: 'btn-block btn-white' %>
        <% end %>
      </div>
    </div>
  </div>
</div>