.tweetNew{
margin-bottom:30px;
margin-top:20px;
}

.noLog{
  margin-bottom:25px;
}


.searchTweet{
  margin-bottom:15px;
}


.tweetSearch{
  margin-top:30px;
}

.tweetLogin{
margin-top:40px;
}

.categorySearch{
margin-top:40px;
}