<div class="top-category-index-wrapper text-center">
  <div class="container category-index-container">
    <div class="row">
      <h1 class="text-white categoryName">学習カテゴリー　一覧</h1>
      <div class="col-md-offset-3 col-md-6 col-md-offset-3">
          <% @categorys.each do|category| %>
              <%= link_to category.name,category_questions_path(category),class: 'btn btn-block btn-white' %>
          <% end %>
      </div>
    </div>
  </div>
</div>